/*Yaroslav Kovbas*/
div.comment {
    width: 650px;
    min-height: 130px;
    border: 2px solid #1cb2ff;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    margin: 0 auto 25px;
}

div.user_avatar {
    width: auto;
    height: auto;
    float: left;
}

div.comment_header {
    width: auto;
    height: 25px;
}

div.comment_footer {
    width: auto;
    height: 30px;
    clear: both;
}

div.comment_author {
    width: auto;
    height: inherit;
    float: left;
    margin-left: 8px;
}

div.comment_manage_buttons {
    margin-top: -8px;
    width: 90px;
    height: inherit;
    float: right;
    margin-right: 10px;
}

div.edit_buttons {
    width: auto;
    height: inherit;
    padding: 5px;
}

div.comment_ratio_panel {
    width: 120px;
    height: inherit;
    float: right;
}

div.comment_body {
    width: 515px;
    min-height: 120px;
    float: right;
    padding-top: 8px;
}

div.comment_main {
    padding-left: 8px;
    padding-right: 8px;
    min-height: 60px;
    overflow: hidden;
    overflow-wrap: break-word;
}

div.reply_div {
    width: auto;
    height: inherit;
    float: left;
    margin-left: 8px;
    padding-bottom: 5px;
}

div.comment_date {
    float: left;
    height: auto;
    padding-top: 8px;
}

textarea.form-control {
    width: 450px;
    max-width: 450px;
    padding: 8px;
    min-height: 60px;
    overflow: hidden;
}

img.avatar {
    width: 120px;
    height: 120px;
    margin-top: 4px;
    margin-left: 4px;
}
